* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* TOPO */

header {
    background-image: url(/assets/imagem-fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
    opacity: 300%;
}

header::before {
    content: "";
    width: 100%;
    height: 650px;
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
}


.topo {
    width: 100%;
    border-bottom: 1px solid #ffffff3e;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topo p {
    padding-left: 40px;
    font-size: 27px;
    color: #fff;
}

.topo ul {
    display: flex;
}

.topo ul li {
    padding: 20px 0;
}

.topo li a {
    padding: 3px 20px 3px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}

.topo li a:hover {
    background-color: #fff;
    border-radius: 25px;
    color: #844e24;
    transition: 0.3s;
}

/* CONTEÚDO */

main img {
    width: 200px;
}

.secao-sobre {
    width: 100%;
    padding: 40px 0 ;
    background-color: #d1c0ae;
    display: flex;
    justify-content: center;
}

.secao-sobre h1 {
    font-size: 30px;
    margin: 60px 40px 0 0;
}

h1 span {
    border-bottom: 3px solid #844e24;
}

.secao-sobre article {
    max-width: 350px;
    margin: 40px;
    font-size: 16px;
}

.secao-sobre img {
    width: 500px;
    height: 430px;
    padding-top: 30px;
    margin-bottom: 40px;
}

/* EXPERIMENTE */

.secao-experimente {
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
}

.secao-experimente h1 {
    text-align: center;
    margin: 20px auto 60px;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.container div {
    padding: 50px 15px 80px;
    box-shadow: 0px 0px 10px #00000085;
    border-bottom: 3px solid  #844e24;
    border-radius: 20px;
    max-width: 260px;
    text-align: center;
    box-sizing: border-box;
}

.container :hover {
    background-color: #844e24;
    color: #fff;
    transition: 1s;
}

.container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.container h4 {
    margin: 20px 0 10px;
}

/* CONTATO */

.secao-contato {
    text-align: center;
    background-color: #d1c0ae;
}

h2 {
    margin: 20px  auto 40px;
}

h2 span {
    border-bottom: 3px solid #844e24;
}

.secao-contato p {
    font-size: 14px;
}

.secao-contato p span {
    color: #844e24;
}

.secao-contato form {
    padding-top: 10px;
    max-width: 700px;
    margin: 0 auto;
    box-sizing: border-box;
}

form input {
    padding: 10px 0 10px 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 0;
    box-sizing: border-box;
}

.mensagem {
    padding-bottom: 60px;
}

button {
    width: 100%;
    padding: 10px 10px 10px 10px;
    border: 0;
    background-color: #844e24;
    color: #fff;
    margin-bottom: 40px;
    cursor: grab;
}

/* FOOTER */ 

.footer p {
    text-align: center;
    font-size: 18px;
    color: #844e24;
    padding: 8px;
}

/* MEDIA QUERY*/

@media screen and (max-width: 768px){

    header {
        background-image: url(/assets/imagem-fundo.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 450px;
        opacity: 300%;
    }

    header::before {
        content: "";
        width: 100%;
        height: 450px;
        background-color: #000;
        opacity: 0.5;
        position: absolute;
        top: 0;
        left: 0;
    }

    .topo {
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
    }

    .secao-sobre img{
        display: none;
    }

    .container div{
        box-shadow: none;
        border-bottom: none;
    }

    .container p{
        display: none;
    }

    .container :hover {
        background-color: #fff;
        color: #000;
        transition: 0;
    }  
}

@media screen and (max-width: 425px) {
    
    header {
        background-image: url(/assets/imagem-fundo.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 300px;
        opacity: 300%;
    }

    header::before {
        content: "";
        width: 100%;
        height: 300px;
        background-color: #000;
        opacity: 0.5;
        position: absolute;
        top: 0;
        left: 0;
    }
}